@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/laptop-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 568px;
    text-align: center;
}

nav{
    position: relative;
    background-color: rgba(136, 136, 136, 0.5);
}

nav > a >  img{
    float: left;
    margin: 12px 0 12px 40px;
}

nav > a > img{
    display: block;
}

nav > ul , ul > li{
    display: inline-block;
    list-style: none;
    padding: 0;
}


nav ul li{
    padding: 25px 12px 24px 12px;
}

nav ul li a{
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

li > a.active{
    color: #000000;
    font-weight: 600;
}


nav .cta{
    float: right;
    width: 129px;
    height: 40px;
    background-color: #2086fb;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border-radius: 22px;
    padding:11px 30px;
    margin: 14px 48px 14px 0;
    text-transform: uppercase;
    font-weight: 600;
}

header h2{
    clear: both;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

form{
    border-radius: 4px;
    background-color: #ffffff;
    margin: 0 252px;
    border: 5px solid rgba(0, 0, 0, 0.6);
    padding: 15px;
    overflow: auto;
}

input{
    width: 50%;
    float: left;
    border: none;
}

input::placeholder{
    color: #9b9b9b;
    font-size: 16px;
}

.fa.fa-search{
    font-size: 20px;
    color: #4a4a4a;
}

.search{
    float: right;
    width: 22px;
    padding-right: 30px;
    border: none;
    background-color: transparent;
}

.header-content{
    margin: 147px 0 224px;
    
}

.header-content h2{
    margin-bottom: 24px;
}

.description{
    overflow: auto;
    padding: 41px 15px;
}


.items{
    float: left;
    width: 25%;
    text-align: center;
    padding: 32px;
    border: 1px solid #dcdcdc;
    border-left: none;
    border-top: none;
}

.items:nth-child(4n){
    border-right: none;
}

.items:nth-child(5), .items:nth-child(6), .items:nth-child(7), .items:nth-child(8) {
    border-bottom: none;
}

.items  h3{
    margin: 24px 0 10px;
    color: #4a4a4a;
    font-weight: 600;
}

.items p{
    line-height: 26px;
    color: #858585;
    font-weight: 400;
}

.contact{
    padding: 64px 0 69px;
    background-color: #323232;
    color: #ffffff;
    text-align: center;
}

.contact > h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 4px;
}

.contact > p{
    font-weight: 600;
    margin-bottom: 48px;
}

.contact-cta{
    display: inline-block;
    font-size: 15px;
    width:223px;
    background-color: #2086fb;
    color: #ffffff;
    text-decoration: none;
    border-radius: 22px;
    padding:10px 48px 12px;
    text-transform: uppercase;
    font-weight: 600;   
}

footer{
    position: relative;
    background-color: #252525;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    padding: 25px 0 24px 40px;
}

.btn-top{
    position: absolute;
    right: 44px;
    top: -15px;
    width: 28px;
    height: 28px;
    background-color: #4a4a4a;
    color: #979797;
    border-radius: 4px;
    border: none;
}