@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/laptop-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 568px;
    text-align: center;
}

nav{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 4px rgba(136, 136, 136, 0.5);
    overflow: auto;
}


nav + .container{
    margin: 0 auto;
}

nav > a{
    float: left;
    margin: 12px 0 12px 40px;   
}

nav > a >  img{
    display: block;
}

nav > ul , ul > li{
    display: inline-block;
    list-style: none;
    padding: 0;
}


nav ul li{
    padding: 23px 12px 24px 12px;
}

nav ul li a{
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

li > a.active{
    color: #000000;
    font-weight: 600;
}


nav .cta{
    float: right;
    width: 129px;
    height: 40px;
    background-color: #2086fb;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border-radius: 22px;
    padding:11px 30px;
    margin: 14px 48px 14px 0;
    text-transform: uppercase;
    font-weight: 600;
}

header h2{
    clear: both;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

form{
    max-width: 926px !important;
    border-radius: 4px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    overflow: auto;
}

input{
    width: 95%;
    float: left;
    padding: 15px;
    background-color: #ffffff;
    border: none;
}

input::placeholder{
    color: #9b9b9b;
    font-size: 16px;
}

.fa.fa-search{
    font-size: 16px;
}

.search{
    width: 5%;
    padding: 15px;
    float: left;
    border: none;
    color: #4a4a4a;
    background-color: #ffffff;
}

.header-content{
    max-width: 926px !important;
    position: relative;
    top:30%;
    transform: translate(0,-50%);
}

.header-content h2{
    margin-bottom: 24px;
}

.description{
    padding: 40px 0;
}

.description > .container{
    max-width: 1360px;
    margin: 0 auto;
}

.description > .container > ul{
    padding: 0;
    text-align: center;
}

.description > .container > ul > li.items{
    display: inline-block;
    width: 24%;
    text-align: center;
    padding: 52px 28px 60px;
    border-right: 1px solid #dcdcdc;
}

.description > .container > ul + hr{
    border: none;
    height: 1px;
    background-color: #dcdcdc;
}

.description > .container > ul > li.items:nth-of-type(4n){
    border-right: none
}

.description > .container > ul > li.items > img{
    padding-bottom: 24px;    
}

.description > .container > ul > li.items > img + h3{
    padding-bottom: 10px;    
    color:#4a4a4a;
}

.description > .container > ul > li.items > img + h3 + p{
    color:#858585;
    line-height: 26px;
}


.contact{
    padding: 64px 0 69px;
    background-color: #323232;
    color: #ffffff;
    text-align: center;
}

.contact > .contact-content{
    max-width: 60%;
    margin: 0 auto;
}

.contact > .contact-content > h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 4px;
}

.contact > .contact-content > p{
    font-weight: 600;
    margin-bottom: 48px;
}

.contact-cta{
    display: inline-block;
    font-size: 15px;
    width:223px;
    background-color: #2086fb;
    color: #ffffff;
    text-decoration: none;
    border-radius: 22px;
    padding:10px 48px 10px;
    text-transform: uppercase;
    font-weight: 600;   
}

footer{
    position: relative;
    background-color: #252525;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    padding: 25px 0 24px 40px;
}

.btn-top{
    position: absolute;
    right: 44px;
    top: -15px;
    width: 28px;
    height: 28px;
    background-color: #4a4a4a;
    border: none;
    border-radius: 4px;
}

.arrow-up{
    position: relative;
    top: 15%;
    border: solid #979797;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg);
}

