@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/laptop-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 36.9vw;
    text-align: center;
}

nav{
    background-color: rgba(136, 136, 136, 0.5);
    height: 11vh;
}

li,a,button{
    font-size: 0.9vw;
    text-transform: uppercase;
}

.logo{
    float: left;
    margin: 12px 0 12px 40px;
}

.nav-link{
    float: none;
    position: absolute;
    left: 15%;
    right: 20%;
    margin: 25px 0 0;
}

li > a{
    padding: 11px 15px;
    text-decoration: none;
    color: #ffffff;
}

li > a.active{
    color: #000000;
}

.nav-link li{
    list-style: none;
    display: inline-block;
}

.cta{
    float:right;
    margin: 14px 40px 14px 0;
}

.cta-btn{
    padding: 12px 30px;
    color: #ffffff;
    background-color: #2086fb;
    border: none;
    border-radius: 25px;
}

h1{
    position: absolute;
    top: 40%;
    left: 20%;
    color: #ffffff;
    font-size: 2vw;
    letter-spacing: 1px;
}

form{
    position: absolute;
    top:50%;
    left: 18%;    
    border-radius: 4px;
    background-color: #ffffff;
    border: 5px solid rgba(0, 0, 0, 0.6);
}

input{
    width: 56.9vw;
    padding: 0.9vw;
    border: none;
}

.fa.fa-search{
    font-size: 20px;
    color: #4a4a4a;
}

.search{
    width: 22px;
    padding-right: 30px;
    border: none;
    background-color: transparent;
}

.section-one{
    margin: 2.5vw;
}

.article-one, .article-two, .article-three{
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 15px;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.article-five, .article-six, .article-seven{
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 15px;
    border-right: 1px solid #dcdcdc;
}

.article-four{
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 15px;
    border-bottom: 1px solid #dcdcdc;
}

.article-eight{
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 15px 40px;
}

.article-one  img, .article-two img, .article-three img, .article-four img,
.article-five  img, .article-six img, .article-seven img, .article-eight img{
    margin: 3.3vw 7.8vw 1.5vw;
    width: 30%;
    height: 30%;
}

.article-one  h3, .article-two  h3, .article-three  h3, .article-four  h3,
.article-five  h3, .article-six  h3, .article-seven  h3, .article-eight  h3{
    font-size: 1.3vw;
    padding: 0 0 0.5vw;
}

.article-one  p, .article-two  p, .article-three  p, .article-four  p,
.article-five  p, .article-six  p, .article-seven  p, .article-eight  p{
    font-size: 1.1vw;
    padding: 0 0 4vw;
}

.section-two{
    clear:both;
    background-color: #323232;
    color: #ffffff;
    text-align: center;
    padding-bottom: 4.4vw;
}
.section-two h3{
    font-size: 1.9vw;
    padding:4vw 29vw 0.2vw ;
}
.section-two p{
    font-size: 1vw;
    padding-bottom: 3.125vw;
}

footer{
    padding:1.6vw;
    font-size: 0.9vw;
    background-color: #252525;
    color: #ffffff;
}

#btn-top{
    display: none;
    position: fixed;
    bottom: 9%;
    right: 5%;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #4a4a4a;
    color: #979797;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
}